@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #3DD68C;
    transition: background-color 300ms ease-in-out;
    line-height: 1.5;
}

.working {
    background-color: rgb(239 68 68);
}

.resting {
    background-color: rgb(68, 128, 239);
}

.hidden {
    display: none;
}